@import url("https://fonts.googleapis.com/css2?family=Jua&family=Roboto:ital,wght@1,300&display=swap");

body {
  margin: 0;
} 

.profile {
  justify-content: center;
  width: 150px;
  height: 150px;
  transform: scale(1); 
  border-radius: 70%
} 
.menu-bar {
  position: fixed;
  border: 0;
  background-color: pink;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  border-bottom:  2px solid pink;
  border-top: 2px solid pink;
  margin-left: 200px;
  padding-left: 30px;
}
.line p {
  margin-top: 14px;
}
.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.index h3 {
  color: black;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}
.name {
  margin : 0 0 100px 250px;
  color: rgb(234, 21, 92);
  font-size: 65px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.contacts {
  margin-left: 250px;
  padding-bottom: 100px;
  font-size: 15px;
  opacity: 0.5;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}
.main-introduction {
  margin : 0 0 20px 30px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
}
.sns {
  margin: 20px 0 0 250px;
}
.sns p {
  color: palevioletred;
  margin-bottom: 20px;
  font-weight: bold;
}
.sns i {
  margin-right: 40px;
}
.sns img {
  width: 50px;
}
.sns img:hover {
  transform: translate(0, -5px);
}
.btn {
  margin: 30px 0 0 250px;
  height: 40px;
  width: 100px;
}
.dogImg {
  display: flex;
}
.dog_ {
  justify-content: center;
  margin-left: 50px;
}
.dog_ img {
  height: 200px;
  width: 180px;
}
.start {
  transform: scale(0);
  width: 500px;
}
.end {
  transform: scale(1);
  transition :all 0.5s;
  width: 500px
}
.button {
  margin: 10px 0 0 250px;
}
.darkname {
  background-color:  rgb(78, 78, 78);
  margin-left:  200px;
  padding-left: 50px;
  padding-bottom: 100px;
  color: rgb(137, 247, 162);
  font-size: 65px;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}
.darkcontacts {
  background-color: rgb(78, 78, 78);
  color: white;
  margin-left:  200px;
  padding-left: 50px;
  padding-bottom: 100px;
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-weight: bold;
} 
.darkintro {
  background-color: rgb(78, 78, 78);
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  opacity: 0.8;
  color: white;
  font-weight: bold;
}


.darkline {
  background-color:  rgb(78, 78, 78);
  margin-left: 200px;
  padding-left: 30px;
  border-bottom:  2px solid rgb(137, 247, 162);
  border-top: 2px solid rgb(137, 247, 162);
}

.darkmenubar {
  position: fixed;
  border: 0;
  background-color: rgb(137, 247, 162);
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.darksns {
  background-color: rgb(78, 78, 78);
  margin-left: 200px;
  padding-left: 50px;
  padding-top: 5px;
}
.darksns p {
  margin: 0;
  padding-top: 18px;
  color: rgb(137, 247, 162);
  font-weight: bold;
}
.darksns img {
  width: 50px;
  padding-top: 20px;
}
.darksns img:hover {
  transform: translate(0, -5px);
}
.darkdog {
  background-color: rgb(78, 78, 78);
  justify-content: center;
  padding-left: 50px;
}
.darkdog img {
  height: 200px;
  width: 180px;
}

.darkdogimg {
  display: flex;
  background-color: rgb(78, 78, 78);
}

.buttondark {
  background-color: rgb(78, 78, 78);
  height: 160px;
}